body {
	margin: 0;
    padding: 0;
    background: url(PRY3JorgeRocheimg1.jpg) fixed center center no-repeat;
    background-color: #6E6E6E;
}
.form_enviar {
	
	padding: 40px;
	border: 5px solid;
	margin: 100px 320px 0px 320px;
	background: #BDBDBD;
	
}

.titulo {
    
	font-family: sans-serif;
	color: #000000;
}

.pie_pagina {
    
	background: #BDBDBD;
	color: #000000;
	margin: 90px 320px 0px 320px;
	padding: 8px;
    font-family: sans-serif;
}

.button {
    
	background: #F2F2F2;
	color: #070B19;
	border-radius: 10px;
	height: 50px;
	width: 100px;
	font-size: 20px;
    cursor: pointer;
    text-align: center;
}

table ,tr,td {
    
border: 1px solid #2E2E2E;
text-align: center;
background: #BDBDBD;

}